// blue-analitycs 1.0.0
// Data analitycs platform


// Variables

$web-font-path: "https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap" !default;
@if $web-font-path {
  @import url($web-font-path);
}
// Buttons

.btn-secondary,
.btn-light,
.btn-outline-secondary,
.btn-outline-light {
  color: $gray-900;

  &:disabled,
  &.disabled {
    border: 1px solid shade-color($secondary, 10%);
  }
}

.btn-secondary,
.btn-outline-secondary {
  border-color: shade-color($secondary, 10%);

  &:hover,
  &:active {
    background-color: shade-color($secondary, 10%);
    border-color: shade-color($secondary, 10%);
  }
}

.btn-light,
.btn-outline-light {
  border-color: shade-color($light, 10%);

  &:hover,
  &:active {
    background-color: shade-color($light, 10%);
    border-color: shade-color($light, 10%);
  }
}

// Tables

.table {
  box-shadow: $box-shadow-lg;
  font-size: $font-size-sm;
}

thead th {
  text-transform: uppercase;
  font-size: $font-size-sm;
}

// Forms

.input-group-text {
  box-shadow: $box-shadow;
}

// Navs

.nav-tabs {
  font-weight: 500;

  .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-width: 0 0 1px;
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    box-shadow: inset 0 -2px 0 $primary;
  }
}
.nav-pills {
  font-weight: 500;
}

.pagination {
  font-size: $font-size-sm;
  font-weight: 500;

  .page-link {
    box-shadow: $box-shadow;
  }
}

.breadcrumb {
  border: 1px solid $gray-300;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  font-size: $font-size-sm;
  font-weight: 500;

  &-item {
    padding: 1rem .5rem 1rem 0;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  padding-right: 1rem;
}

// Indicators

.alert {
  .btn-close {
    color: inherit;
  }
}

.badge {
  &.bg-secondary,
  &.bg-light {
    color: $gray-900;
  }
}

// Containers

.list-group {
  box-shadow: $box-shadow-lg;
}

.card {
  box-shadow: $box-shadow-lg;

  &-title {
    color: inherit;
  }
}

.modal-footer {
  background-color: $gray-100;
}

.modal-content {
  box-shadow: $box-shadow-lg;
}
.bg-blue{
  background-color: transparent;
  background-image: linear-gradient(120.06deg, #45ade6 -1.34%, #7CEAF6 103.75%);
}
/*linear-gradient(120.06deg, var( --e-global-color-secondary ) -1.34%, #7CEAF6 103.75%)*/
h1,h2,h3,h4,h5,h6{
  font-family: $display-font-family;
  font-weight: 900;
}
.card-reports{
  box-sizing: border-box;
  width: 350px;
  border-radius: 0.9rem;
  padding:0px;
}
.bottom-wave{
  height: 117px;
  width: 100%;
  background-image: url('https://bx-multimedia-files.s3.amazonaws.com/assets/img/fondo_c1.png');
  background-position: top center;
}
.tableauPlaceholder{
  width: 100%;
}
.avatar{
  border-radius: 50%;
}
.img-top{
  margin-bottom: -200px;
}
.sidemenu{
  font-size: 0.79rem;
}
.sidemenu ul{

}